/* src/index.css */
@import "tailwindcss";
/* @config "../tailwind.config.js"; */
@theme {
  --text-xs: 0.25rem;
  --text-xs--line-height: 0.35rem;
  --text-sm: 0.35rem;
  --text-sm--line-height: 0.45rem;
  --text-base: 0.42rem;
  --text-base--line-height: 0.52rem;
  --text-lg: 0.55rem;
  --text-lg--line-height: 0.65rem;
  --text-xl: 0.65rem;
  --text-xl--line-height: 0.75rem;
}
