/* src/index.css */
@import "tailwindcss";
/* @config "../tailwind.config.js"; */
@theme {
  --text-xs: 0.25rem;
  --text-xs--line-height: 0.35rem;
  --text-sm: 0.35rem;
  --text-sm--line-height: 0.45rem;
  --text-base: 0.42rem;
  --text-base--line-height: 0.52rem;
  --text-lg: 0.55rem;
  --text-lg--line-height: 0.65rem;
  --text-xl: 0.65rem;
  --text-xl--line-height: 0.75rem;
}

/* 蒙版的淡入动画 */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 蒙版动画 */
.fade-enter-active,
.fade-exit-active {
  animation: fade 0.3s ease-in-out;
}

/* 弹出框滑动动画 */
@keyframes popup-slide-in {
  from {
    transform: translateY(100%); /* 从屏幕底部开始 */
    opacity: 0; /* 开始时完全透明 */
  }
  to {
    transform: translateY(0); /* 到达目标位置 */
    opacity: 1; /* 最终变得不透明 */
  }
}

/* 弹出框滑动动画 */
@keyframes search-slide-in {
  from {
    transform: translateY(40px); /* 从屏幕底部开始 */
    opacity: 0; /* 开始时完全透明 */
  }
  to {
    transform: translateY(0); /* 到达目标位置 */
    opacity: 1; /* 最终变得不透明 */
  }
}
